importFrom ("intoo", "%$%", "LIST", "EXTEND", "THAT", "object.summary")
importFrom ("graphics", "lines", "par", "plot", "rect", "text")
importFrom ("barsurf", "plot_dfield", "plot_cfield", "plot_bar", "plot_surface", "plot_tricontour", "plot_trisurface", "litmus.rainbow.fit")
importFrom("mvtnorm", "dmvnorm", "pmvnorm")
importFrom ("KernSmooth", "bkde2D")
importFrom ("stats", "var")
exportPattern ("^[^\\.]")
S3method (print, bv)
S3method (plot, dubvpmf)
S3method (plot, dubvcdf)
S3method (plot, bnbvpmf)
S3method (plot, bnbvcdf)
S3method (plot, pbvpmf)
S3method (plot, pbvcdf)
S3method (plot, cbvpmf)
S3method (plot, cubvpdf)
S3method (plot, cubvcdf)
S3method (plot, nbvpdf)
S3method (plot, nbvcdf)
S3method (plot, bmbvpdf)
S3method (plot, bmbvcdf)
S3method (plot, dtvpdf)
S3method (plot, kbvpdf)
S3method (plot, ebvcdf)
