importFrom ("grDevices", "col2rgb", "rgb")
importFrom ("graphics", "arrows", "axis", "box", "contour.default", "lines", "par", "plot", "plot.new", "plot.window", "polygon", "text")
importFrom ("mvtnorm", "dmvnorm", "pmvnorm", "rmvnorm")
importFrom ("KernSmooth", "bkde2D")
exportPattern("^[^\\.]")
S3method(print, dubvpmf)
S3method(print, dubvcdf)
S3method(print, bnbvpmf)
S3method(print, bnbvcdf)
S3method(print, pbvpmf)
S3method(print, pbvcdf)
S3method(print, cubvpdf)
S3method(print, cubvcdf)
S3method(print, nbvpdf)
S3method(print, nbvcdf)
S3method(print, bmbvpdf)
S3method(print, bmbvcdf)
S3method(print, kbvpdf)
S3method(print, kbvcdf)
S3method(plot, dubvpmf)
S3method(plot, dubvcdf)
S3method(plot, bnbvpmf)
S3method(plot, bnbvcdf)
S3method(plot, pbvpmf)
S3method(plot, pbvcdf)
S3method(plot, cubvpdf)
S3method(plot, cubvcdf)
S3method(plot, nbvpdf)
S3method(plot, nbvcdf)
S3method(plot, bmbvpdf)
S3method(plot, bmbvcdf)
S3method(plot, kbvpdf)
S3method(plot, kbvcdf)
